{{>layout/header}}
    <h1>파일 업로드 예제!</h1>
    <div class="col-md-12">
        <div class="row">
            <form action="/api/v1/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="submit" name="submit" value="Upload File">
        </form>
        </div>
    </div>
{{>layout/footer}}