    <h1>파일 업로드 예제!</h1>
    <div class="col-md-12">
        <div class="row">
            <form action="/api/v1/s3upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="submit" name="submit" value="Upload File">
        </form>
        </div>
    </div>
<img src="https://bomnae-static.s3.ap-northeast-2.amazonaws.com/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202020-09-17%20%E1%84%8B%E1%85%A9%E1%84%8C%E1%85%A5%E1%86%AB%2011.20.11.png"/>